@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: lightblue;
  /* font-family: 'Cardo', serif; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background: #fff;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgb(0, 0, 0, 0.1);
}

.container .left_Side {
  position: relative;
  background: #003147;
  padding: 40px;
}

.profileText {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}

.profileText .imgBx {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;

}

.profileText .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileText h2 {
  color: #fff;
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}

.profileText h2 span {
  font-size: 0.8em;
  font-weight: 400;
}

.title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.contentInfo ul {
  position: relative;
}

.contentInfo ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}

.contentInfo ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #03a9f4;
}

.contentInfo ul li span {
  color: #fff;
  font-weight: 200;
}



.contentInfo.skill li {
  margin-bottom: 2px;

}

.contentInfo.skill h4 {
  color: #c9c9ca;
  font-weight: 500;
}

.contentInfo.skill h6 {
  margin: 0;
  padding: 0;
  color: #686869;
  font-weight: 600;
}

 .agil{
display: grid;
grid-template-columns: repeat(2,2fr);
}

.skillUL ul{
  display: grid;
  margin: -20px 0 -10px -10px;
  grid-template-columns: repeat(2,2fr);
}


.contentInfo.skill h4:nth-child(2) {
  color: #fff;
  font-weight: 500;
}

.contentInfo.language .percent {
  position: relative;
}



.container .right_Side {
  position: relative;
  background: #fff;
  padding: 40px;
}


.about {
  margin-bottom: 30px;
}

.about:last-child {
  margin-bottom: 0;
}

.title2 {
  color: #003147;
  letter-spacing: 1px;
  margin-bottom: 10px;
}


p {
  color: #333;
}


.about .box {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.right_Side .text1 {
  text-transform: uppercase;
  color: #2a7da2;
  font-size: 16px;
}

.about .box .year_univirsity {
  min-width: 100px;
}

.about .miun .box .year_univirsity h5 {
  text-transform: uppercase;
  color: #848c90;
  font-weight: 600;
}

.about .box .year_company {
  min-width: 100px;
}

.about .box .year_univirsity h5 {
  text-transform: uppercase;
  color: #848c90;
  font-weight: 600;
}

.about .box .year_company h5 {
  text-transform: uppercase;
  color: #848c90;
  font-weight: 600;
}



@media (max-width: 1000px) {
  .container {
    margin: 10px;
    grid-template-columns: repeat(1,1fr);
  }

}

@media (max-width: 600px) {
  .container {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
  .container .skillUL ul{
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
}